# Node dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Databases & local logs
*.db
*.sqlite
*.log
.eslintcache
